:root {
  --primary-font: "Open Sans", sans-serif;
  --heading-font: "Abril Fatface", cursive;
  --secondary-heading-font: "Ubuntu", sans-serif;
  --primary-color: #0f2f44;
  --a-button-hober-color: #ffc712;
}

/* Common Css */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
}

h1,
h2 {
  font-family: var(--heading-font);
}

h3,
h4,
h5,
h6,
a,
button {
  font-family: var(--secondary-heading-font);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  margin: auto;
  width: 1170px;
}

.row {
  display: flex;
}

/* Common Css */

/* TopBar Start */
#topbar {
  background-color: var(--primary-color);
  color: white;
  font-family: var(--secondary-heading-font);
}

#topbar .row {
  padding: 19px;
  justify-content: space-between;
  align-items: center;
}

/* TopBar End */

/* NevBar Start */
#navbar .row {
  justify-content: space-between;
  align-items: center;
}
#navbar .row ul {
  display: flex;
  align-items: center;
  font-weight: 500;
}

#navbar .row ul .navbar-list {
  padding: 40px 19px 40px 19px;
}

#navbar .row ul .navbar-list:hover {
  background-color: #fff9e6;
}

#navbar .row ul li a {
  color: #222222;
  transition: 0.5s;
}

#navbar .row ul li:hover a {
  color: var(--a-button-hober-color);
}

#navbar .row ul .navbar-button {
  padding: 10px;
}

#navbar .row ul li button {
  color: #999999;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #999999;
  cursor: pointer;
  transition: 0.5s;
}

#navbar .row ul li:hover button {
  color: white;
  background-color: var(--primary-color);
  transform: scale(1.1);
}

/* NavBar End */

/* Banner Start */
#banner {
  background-color: #e0edff;
}

#banner .row {
  height: 600px;
  width: 100%;
  align-items: center;
}

#banner-content {
  width: 40%;
}

#banner-image {
  width: 60%;
  margin-top: 45px;
}

#banner-content h3 {
  font-size: 50px;
  font-weight: 300;
  color: var(--primary-color);
  line-height: 70px;
}

#banner-content h1 {
  font-size: 80px;
  font-weight: 400;
  color: var(--primary-color);
  text-transform: uppercase;
  line-height: 80px;
}

#banner-content h4 {
  font-size: 32px;
  color: #8484bf;
  font-weight: 400;
  letter-spacing: 16px;
  line-height: 32px;
}

#banner-content p {
  font-size: 14px;
  color: #444444;
  line-height: 24px;
  padding: 20px 0px;
}

#banner-content a {
  font-size: 20px;
  background-color: #8383bf;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: 0.5s;
}

#banner-content a:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

#banner-content button {
  padding: 15px;
  border: 0;
  background-color: white;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 20px;
  transition: 0.5s;
  cursor: pointer;
}

#banner-content button:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

#banner-content button i {
  color: #8383bf;
  width: 15px;
}

#banner-content button:hover i {
  color: white;
  transform: scale(1.1);
}
/* Banner End */

/* About Us Start */
#about-us {
  width: 100%;
  margin: 100px 0px;
}

#about-us-content {
  width: 50%;
  color: var(--primary-color);
}

#about-us-image {
  width: 50%;
  position: relative;
}

#about-us-image img {
  position: absolute;
  right: 0;
}

#about-us-content h5 {
  font-size: 14px;
  font-weight: 300;
}

#about-us-content h2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

#about-us-content p {
  font-size: 16px;
  line-height: 24px;
  padding: 26px 0px;
}

#about-us-content ul li {
  font-size: 16px;
  line-height: 44px;
  padding-left: 30px;
}

#about-us-content a {
  display: inline-block;
  padding: 15px 20px;
  margin: 30px 20px 0px 0px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

#about-us #about-us-content a:hover {
  background-color: var(--a-button-hober-color);
  transform: scale(0.95);
}
/* About Us End */

/* Our Skills Start */
#our-skills {
  text-align: right;
  color: var(--primary-color);
}
#our-skills-image,
.our-skills-content {
  width: 50%;
  position: relative;
}
#our-skills-image img {
  width: 130%;
  position: absolute;
  right: 10px;
}

.our-skills-content h4 {
  font-size: 14px;
  font-weight: 300;
}

.our-skills-content h2 {
  font-size: 32px;
  font-weight: 400;
}

.our-skills-content p {
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0px;
}

.our-skills-content .row {
  margin-bottom: 20px;
}

.skill-item-info {
  width: 85%;
  align-self: center;
}

.skill-item-logo {
  width: 15%;
}

.skill-item-logo img {
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
  align-self: center;
  justify-content: center;
}

.skill-percent {
  margin-top: 10px;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #dddddd;
}

.skill-percent .percent {
  height: 10px;
  margin-left: auto;
  border-radius: 0 10px 10px 0;
  position: relative;
}

.skill-percent .percent span {
  position: absolute;
  left: 0;
  top: -20px;
}

/* Our Skills End */

/* Our Services Start */
#our-services{
  margin: 180px 0px;
  text-align: center;
}

.what-we-do h4{
  font-size: 14px;
  font-weight: 300;
}

.what-we-do h2{
  font-size: 32px;
  font-weight: 400;
}
/* Our Services End */