:root {
  --primary-font: "Open Sans", sans-serif;
  --heading-font: "Abril Fatface", cursive;
  --secondary-heading-font: "Ubuntu", sans-serif;
  --primary-color: #0f2f44;
  --a-button-hober-color: #ffc712;
}

/* Common Css */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
}

h1,
h2 {
  font-family: var(--heading-font);
}

h3,
h4,
h5,
h6,
a,
button {
  font-family: var(--secondary-heading-font);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  margin: auto;
  max-width: 1170px;
}

.row {
  display: flex;
}

/* Common Css */

/* TopBar Start */
#topbar {
  background-color: var(--primary-color);
  color: white;
  font-family: var(--secondary-heading-font);
}

#topbar .row {
  padding: 19px;
  justify-content: space-between;
  align-items: center;
}

#topbar .row h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* TopBar End */

/* NevBar Start */
#navbar .row {
  justify-content: space-between;
  align-items: center;
}
#navbar .row ul {
  display: flex;
  align-items: center;
  font-weight: 500;
}

#navbar .row ul li a {
  color: #222222;
  transition: 0.5s;
  display: block;
  padding: 40px 19px;
}

#navbar .row ul li a:hover {
  color: var(--a-button-hober-color);
  background-color: #fff9e6;
}

#navbar .row ul .navbar-button {
  padding: 10px;
}

#navbar .row ul li button {
  color: #999999;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #999999;
  cursor: pointer;
  transition: 0.5s;
}

#navbar .row ul li:hover button {
  color: white;
  background-color: var(--primary-color);
  transform: scale(1.1);
  border: 1px solid var(--a-button-hober-color);
}

/* NavBar End */

/* Banner Start */
#banner {
  background-color: #e0edff;
}

#banner .row {
  height: 600px;
  width: 100%;
  align-items: center;
}

#banner-content {
  width: 40%;
}

#banner-image {
  width: 60%;
  margin-top: 45px;
}

#banner-content h3 {
  font-size: 50px;
  font-weight: 300;
  color: var(--primary-color);
  line-height: 70px;
}

#banner-content h1 {
  font-size: 80px;
  font-weight: 400;
  color: var(--primary-color);
  text-transform: uppercase;
  line-height: 80px;
}

#banner-content h4 {
  font-size: 32px;
  color: #8484bf;
  font-weight: 400;
  letter-spacing: 16px;
  line-height: 32px;
}

#banner-content p {
  font-size: 14px;
  color: #444444;
  line-height: 24px;
  padding: 20px 0px;
}

#banner-content a {
  font-size: 20px;
  background-color: #8383bf;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: 0.5s;
}

#banner-content a:hover {
  background-color: var(--primary-color);
  transform: scale(1.07);
  box-shadow: 0px 0px 20px 0px #8282be;
}

#banner-content button {
  padding: 15px;
  border: 0;
  background-color: white;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 20px;
  transition: 0.5s;
  cursor: pointer;
}

#banner-content button:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 0px #8282be;
}

#banner-content button i {
  color: #8383bf;
  width: 15px;
}

#banner-content button:hover i {
  color: white;
  transform: scale(1.1);
}
/* Banner End */

/* About Us Start */
#about-us {
  width: 100%;
  margin: 100px 0px;
}

#about-us-content {
  width: 50%;
  color: var(--primary-color);
}

#about-us-image {
  width: 50%;
  position: relative;
}

#about-us-image img {
  position: absolute;
  right: 0;
}

#about-us-content h5 {
  font-size: 14px;
  font-weight: 300;
}

#about-us-content h2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

#about-us-content p {
  font-size: 16px;
  line-height: 24px;
  padding: 26px 0px;
}

#about-us-content ul li {
  font-size: 16px;
  line-height: 44px;
  padding-left: 30px;
}

#about-us-content a {
  display: inline-block;
  padding: 15px 20px;
  margin: 30px 20px 0px 0px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

#about-us #about-us-content a:hover {
  background-color: var(--a-button-hober-color);
  transform: scale(0.95);
}
/* About Us End */

/* Our Skills Start */
#our-skills {
  text-align: right;
  color: var(--primary-color);
}
#our-skills-image,
.our-skills-content {
  width: 50%;
  position: relative;
}
#our-skills-image img {
  position: absolute;
  right: 30px;
}

.our-skills-content h4 {
  font-size: 14px;
  font-weight: 300;
}

.our-skills-content h2 {
  font-size: 32px;
  font-weight: 400;
}

.our-skills-content p {
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0px;
}

.our-skills-content .row {
  margin-bottom: 20px;
}

.skill-item-info {
  width: 85%;
  align-self: center;
}

.skill-item-logo {
  width: 15%;
}

.skill-item-logo img {
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
  align-self: center;
  justify-content: center;
}

.skill-percent {
  margin-top: 10px;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #dddddd;
}

.skill-percent .percent {
  height: 10px;
  margin-left: auto;
  border-radius: 0 10px 10px 0;
  position: relative;
}

.skill-percent .percent span {
  position: absolute;
  left: 0;
  top: -20px;
}

/* Our Skills End */

/* Our Services Start */
#our-services {
  margin: 180px 0px;
  text-align: center;
}

.what-we-do h4 {
  font-size: 14px;
  font-weight: 300;
}

.what-we-do h2 {
  font-size: 32px;
  font-weight: 400;
}

.services.row {
  width: calc(100% / 3 - 20px);
  margin-top: 55px;
  color: #444444;
  background-color: #e9e9e9;
  cursor: pointer;
  position: relative;
}

#our-services .services:nth-child(1) {
  margin-right: 30px;
}

#our-services .services:nth-child(3) {
  margin-left: 30px;
}

.services .services-image {
  width: 30%;
  align-self: center;
}

.services .services-image img {
  display: block;
  margin: auto;
}

.services .services-info {
  background-color: #ededed;
  width: 70%;
  padding: 30px 20px;
}

.services h3 {
  font-size: 20px;
  font-weight: 500;
  color: #222222;
  margin-bottom: 20px;
}

.services .services-info p {
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

#our-services .services .overlay {
  position: absolute;
  inset: 0;
  background: var(--primary-color);
  transform: scale(0);
  transition: 0.5s;
}

#our-services .services .overlay img {
  display: block;
  margin: 45px auto 30px;
  height: 70px;
}

#our-services .services .overlay h3 {
  color: white;
}

#our-services .services:hover .overlay {
  transform: scale(1);
}

#our-services .services .overlay a {
  background-color: var(--a-button-hober-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Our Services End */

/* Our Portfolio Start */
#our-portfolio {
  text-align: center;
}

#our-portfolio .row {
  width: calc(100% / 3 - 40px);
}

#our-portfolio .portfolio-info h4 {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary-color);
}

#our-portfolio .portfolio-info h2 {
  font-size: 32px;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 60px;
}

#our-portfolio .row .illustration {
  position: relative;
  border-radius: 10px;
  transition: 0.5s;
}

#our-portfolio .row .illustration:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}

#our-portfolio .row .illustration:nth-child(1) {
  margin-right: 60px;
}

#our-portfolio .row .illustration:nth-child(3) {
  margin-left: 60px;
}

#our-portfolio .row .overlay {
  position: absolute;
  width: 100%;
  background: white;
  bottom: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 0.5s;
  border-radius: 5px;
}

#our-portfolio .row .illustration:hover .overlay {
  transform: scaleY(1);
}

#our-portfolio .row .overlay h3 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
}

#our-portfolio .row .illustration button {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  border: 0;
  box-shadow: 100px 0px 100px 10px rgba(20, 0, 0, 1);
  transition: 0.5s;
}

#our-portfolio .row .illustration button:hover {
  background-color: var(--a-button-hober-color);
}

#our-portfolio .container a {
  display: inline-block;
  padding: 15px 20px;
  margin: 60px 0px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

#our-portfolio .container a:hover {
  background-color: var(--a-button-hober-color);
  transform: scale(0.95);
}
/* Our Portfolio End */

/* Our Testimonial Start */
.our-testimonial {
  color: var(--primary-color);
  background-color: #f5f5f5;
  padding: 60px 0px;
}
.our-testimonial-info {
  text-align: center;
}

.our-testimonial-info h4 {
  font-size: 14px;
  font-weight: 300;
}
.our-testimonial-info h2 {
  font-size: 32px;
  font-weight: 400;
}

.our-testimonial .container .testimonial {
  width: calc(100% / 2 - 15px);
}

.testimonial:nth-child(1) {
  margin-right: 30px;
}

.testimonial-info.row {
  margin-top: 60px;
}

.testimonial.row {
  position: relative;
}

.testimonial-image {
  width: 37%;
}

.testimonial-details {
  width: 63%;
  padding: 30px 20px;
  background-color: #e9e9e9;
}

.testimonial.row button {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 0;
  box-shadow: 0px 0px 30px -5px rgba(20, 0, 0, 0.3);
}

.testimonial.row button:hover {
  background-color: var(--a-button-hober-color);
}

.button-one {
  left: -25px;
}

.button-two {
  right: -25px;
}

.testimonial-details p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}
.testimonial-details h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.testimonial-details h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
/* Our Testimonial End */

/* Our Latest Blogs Start */
#our-latest-blogs {
  margin: 100px 0px;
  text-align: center;
}

.blogs-heading {
  margin-bottom: 60px;
  color: var(--primary-color);
}

.blogs-heading h4 {
  font-size: 14px;
  font-weight: 300;
}

.blogs-heading h2 {
  font-size: 32px;
  font-weight: 400;
}

.blogs {
  padding: 20px;
  background-color: #f5f5f5;
}

#our-latest-blogs .container .row {
  width: calc(100% / 3 - 40px);
}

#our-latest-blogs .row .blogs {
  text-align: left;
  transition: 0.5s;
}

#our-latest-blogs .row .blogs:hover {
  background-color: var(--primary-color);
}

#our-latest-blogs .row .blogs h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #777777;
  margin: 20px 0px;
}
#our-latest-blogs .row .blogs h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #222222;
  margin-bottom: 20px;
}
#our-latest-blogs .row .blogs a {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #777777;
}

#our-latest-blogs .row .blogs:hover h4,
#our-latest-blogs .row .blogs:hover h3,
#our-latest-blogs .row .blogs:hover a {
  color: white;
}

#our-latest-blogs .row .blogs:nth-child(1) {
  margin-right: 60px;
}

#our-latest-blogs .row .blogs:nth-child(3) {
  margin-left: 60px;
}

#our-latest-blogs .row .blogs.button {
  position: relative;
}

#our-latest-blogs .row .blogs button {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  border: 0;
  box-shadow: 100px 0px 100px 10px rgba(20, 0, 0, 1);
  transition: 0.3s;
}

#our-latest-blogs .row .blogs button:hover {
  background-color: var(--a-button-hober-color);
}

#our-latest-blogs .row .blogs .button1 {
  left: 0;
}
#our-latest-blogs .row .blogs .button2 {
  right: -47px;
}

#our-latest-blogs .container .browse-all {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 60px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

#our-latest-blogs .container .browse-all:hover:hover {
  background-color: var(--a-button-hober-color);
  transform: scale(0.95);
}
/* Our Latest Blogs End */

/* Footer Start */
#footer {
  background-color: #f5f5f5;
  color: #777777;
  padding: 100px 0px 60px 0px;
  box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.2);
  position: relative;
}

#footer .container button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 50%;
  top: -35px;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

#footer .container button:hover {
  background-color: var(--a-button-hober-color);
}

#footer .container .main.row h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #222222;
  margin-bottom: 30px;
}

#footer .main.row .part.one,
#footer .main.row .part.two,
#footer .main.row .part.three {
  margin-right: 50px;
}

.part.one {
  width: 25%;
}

.part.one img {
  margin-bottom: 30px;
}

.part.one p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 25px;
}

.social-link {
  display: flex;
}

.part.one a {
  color: var(--primary-color);
  display: flex;
  height: 35px;
  width: 35px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.part.one a:hover {
  background-color: var(--primary-color);
  color: white;
}

.part.part.two {
  width: 25%;
}

.part.two .row {
  margin-bottom: 20px;
}

.part.two .contact-icon {
  display: flex;
  margin-right: 25px;
  align-items: center;
}

.part.two a {
  color: #777777;
  display: block;
  font-size: 14px;
  line-height: 24px;
}

.part.three {
  width: 15%;
}

.part.three a {
  display: block;
  color: #444444;
  margin-bottom: 20px;
  transition: 0.5s;
}

.part.three a:hover {
  margin-left: 20px;
}

.part.part.four {
  width: 35%;
}

.part.four .row {
  flex-wrap: wrap;
}

.part.four .row div {
  width: 25%;
}

.part.four .row div:nth-child(4),
.part.four .row div:nth-child(8) {
  padding-right: 0px;
}

.part.four .row div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0px 15px 15px 0px;
}
/* Footer End */
/* Copyright Start */
#copyright {
  text-align: center;
}

#copyright h4 {
  font-size: 14px;
  line-height: 20px;
  margin: 20px 0px;
  font-family: var(--primary-font);
  color: #777777;
}

#copyright span {
  color: var(--a-button-hober-color);
}

/* Copyright End */
